cmsplugin-filer
dj-database-url
Django
django-admin-sortable2==0.6.14
django-appconf
django-classy-tags
django-cms
django-filer
django-formtools
django-mptt
django-polymorphic
django-sekizai
django-treebeard
djangocms-admin-style
djangocms-attributes-field
easy-thumbnails
html5lib
lxml
olefile
Pillow
# psycopg2==2.7.3
pytz
six
tzlocal
Unidecode
